<div class="stepsdemo-content">
    <p-card>
        <ng-template pTemplate="title">
            Personal Information
        </ng-template>
        <ng-template pTemplate="subtitle">
            Enter your personal information
        </ng-template>
        <ng-template pTemplate="content">

            <form [formGroup]="formGroup" class="grid p-fluid">
                <div class="input_left col-3">
                    <label for="username1" class="label_input">ID Tarefa</label>
                    <div class="p-inputgroup">
                    </div>
                    <p-dropdown [options]="cidades" formControlName="cidade" placeholder="Selecionar Cidade" optionLabel="name"></p-dropdown>
                </div>
                <div class="col-6">
                    <label for="username1" class="label_input">Disciplina</label>
                    <div class="p-inputgroup">
                        <input type="text" pInputText>
                    </div>
                </div>
            
                <div class="input_left col-3">
                    <label for="username1" class="label_input">Atividade</label>
                    <div class="p-inputgroup">
                        <input type="text" pInputText>
                    </div>
                </div>
                <div class="col-6">
                    <label for="username1" class="label_input">Descrição</label>
                    <div class="p-inputgroup">
                        <input type="text" pInputText>
                    </div>
                </div>
            
                <div class="input_left col-3">
                    <label for="username1" class="label_input">Plataforma</label>
                    <div class="p-inputgroup">
                        <input type="text" pInputText>
                    </div>
                </div>
            </form>

        </ng-template>
        <ng-template pTemplate="footer">
            <div class="grid grid-nogutter justify-content-end">
                <p-button label="Next" onclick="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
            </div>
        </ng-template>
    </p-card>
</div>

